<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body class="dark:bg-black dark:text-white bg-gray-100 text-black font-sans">
    <%- include('partials/header') %>

    <div class="dark:bg-black dark:text-white container mx-auto mt-10 text-center">
        <h1 class="dark:bg-black dark:text-white text-4xl font-bold text-red-500">404 - Page Not Found</h1>
        <p class="dark:bg-black dark:text-white text-gray-700 mt-4">The page you are looking for does not exist.</p>
        <a href="/" class="dark:bg-black dark:text-white mt-6 inline-block px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition">
            Go Back Home
        </a>
    </div>

    <%- include('partials/footer') %>
    <script src="script.js"></script>
</body>

</html>
