<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
    <title>Chemistry Notes & Books | Kemistry Knots</title>
</head>

<body class="dark:bg-gray-900 dark:text-white bg-white text-black font-sans">
    <%- include('partials/header') %>
    <h1 class="dark:bg-gray-900 text-2xl p-2 my-6 dark:text-red-500 text-center container text-red-500 font-semibold italic"> These books are not available for now. We might bring them soon</h1>
    <div class="dark:bg-gray-900 dark:text-white container mx-auto flex flex-col md:flex-row py-8 px-4">
        <div class="dark:bg-gray-900 dark:text-white w-full md:w-1/4 p-6 bg-gray-300 rounded-lg">
            <h1 class="dark:bg-gray-900 dark:text-white italic text-2xl font-bold">Categories</h1>
            <div class="dark:bg-gray-900 dark:text-white p-2">
                <p class="dark:bg-gray-900 dark:text-white mb-2"><a class="dark:bg-gray-900 dark:text-white " href="#">Organic Chemistry</a></p>
                <p class="dark:bg-gray-900 dark:text-white mb-2"><a class="dark:bg-gray-900 dark:text-white " href="#">Inorganic Chemistry</a></p>
                <p class="dark:bg-gray-900 dark:text-white mb-2"><a class="dark:bg-gray-900 dark:text-white " href="#">Physical Chemistry</a></p>
                <p class="dark:bg-gray-900 dark:text-white mb-2"><a class="dark:bg-gray-900 dark:text-white " href="#">Analytical Chemistry</a></p>
                <p class="dark:bg-gray-900 dark:text-white mb-2"><a class="dark:bg-gray-900 dark:text-white " href="#">Biochemistry</a></p>
            </div>
        </div>

        <div class="dark:bg-gray-900 dark:text-white main w-full md:w-3/4 p-6">
            <h2 class="dark:bg-gray-900 dark:text-white italic text-2xl font-bold">PDF Books and Notes</h2>
            <div class="dark:bg-gray-900 dark:text-white book-list flex flex-wrap p-2">
                <div class="dark:bg-gray-900 dark:text-white book-item w-full md:w-1/2 p-4 bg-gray-100 m-2 border border-gray-300 text-center">
                    <a class="dark:bg-gray-900 dark:text-white text-blue-900 font-bold hover:text-red-200 hover:underline" href="Nomenclature.pdf" target="_blank">IUPAC Nomenclature</a>
                </div>
                <div class="dark:bg-gray-900 dark:text-white book-item w-full md:w-1/2 p-4 bg-gray-100 m-2 border border-gray-300 text-center">
                    <a class="dark:bg-gray-900 dark:text-white text-blue-900 font-bold hover:text-red-200 hover:underline" href="org mechanism art.pdf" target="_blank">Reaction Mechanism-Organic</a>
                </div>
                <div class="dark:bg-gray-900 dark:text-white book-item w-full md:w-1/2 p-4 bg-gray-100 m-2 border border-gray-300 text-center">
                    <a class="dark:bg-gray-900 dark:text-white text-blue-900 font-bold hover:text-red-200 hover:underline" href="organic chem general.pdf" target="_blank">General Organic Chemistry</a>
                </div>
                <div class="dark:bg-gray-900 dark:text-white book-item w-full md:w-1/2 p-4 bg-gray-100 m-2 border border-gray-300 text-center">
                    <a class="dark:bg-gray-900 dark:text-white text-blue-900 font-bold hover:text-red-200 hover:underline" href="path/to/note2.pdf" target="_blank">Note Title 2</a>
                </div>
                <!-- Add more books and notes as needed -->
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
    <script src="script.js"></script>
</body>

</html>
