<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body class="bg-white text-black font-sans">
    <%- include('partials/header') %>

    <h1 class="font-bold text-xl m-10">
        Your Shopping Bag
    </h1>

    <!-- Container for bag items -->
    <div id="bag-container" class="mx-8 my-5">
        <!-- Items will be dynamically added here -->
    </div>

    <%- include('partials/footer') %>
    <script src="bag.js"></script>
    <script src="script.js"></script>
    <script src="mode.js"></script>
</body>

</html>
