<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
    <script src="https://js.stripe.com/v3/"></script>
</head>

<body class="font-sans leading-normal tracking-normal" data-page="payment">
  <%- include('partials/header') %>
  

    <%- include('partials/footer') %>
      <script src="script.js"></script>
      <script src="payment.js"></script>
</body>

</html>